.list-group-item {
  line-height: 2.5;
}

.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../images/newspaper.jpg);
}

.articleNoteBtn {
  background-color: rebeccapurple
}